################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TerraTome.Domain/bin
/TerraTome.Domain/obj
/TerraTome.Repository/obj/Debug/net10.0
